# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/www/dist
/www/tmp
/www/out-tsc
# Only exists if Bazel was run
/www/bazel-out

# dependencies
/www/node_modules

# profiling files
/www/chrome-profiler-events.json
/www/speed-measure-plugin.json

# IDEs and editors
/www/.idea
/www/.project
/www/.classpath
/www/.c9/
/www/*.launch
/www/.settings/
/www/*.sublime-workspace

# IDE - VSCode
/www/.vscode/*
/www/!.vscode/settings.json
/www/!.vscode/tasks.json
/www/!.vscode/launch.json
/www/!.vscode/extensions.json
/www/.history/*

# misc
/www/.sass-cache
/www/connect.lock
/www/coverage
/www/libpeerconnection.log
/www/npm-debug.log
/www/yarn-error.log
/www/testem.log
/typings

# System Files
/www/.DS_Store
/www/Thumbs.db
